html, body {
  overflow: hidden;
}

@keyframes blink {
  from {opacity: 0;}
  to {opacity: 1;}
}

.langue {
  position: fixed;
  top: 20px; left: 10px;
  width: 50px; height: 50px;
  z-index: 1000;
}
.langue img {
  height: 30px;
  border-radius: 50%;
}
.container {
  margin-left: -8px;
}
.background {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden;
  will-change: transform;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  height: 130vh;
  position: fixed;
  width: 100%;
  -webkit-transform: translateY(30vh);
          transform: translateY(30vh);
  transition: all 1.2s cubic-bezier(0.22, 0.44, 0, 1);
}
.background:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
}
.background:first-child {
  background-image: url(pictures/bg-illu.jpg);
  -webkit-transform: translateY(-15vh);
          transform: translateY(-15vh);
}
.background:first-child .content-wrapper {
  -webkit-transform: translateY(10vh);
          transform: translateY(15vh);
}
.background:nth-child(2) {
  background-color: #003754;
}
.background:nth-child(3) {
  background-image: url(pictures/bg-services.jpg);
}

.background:nth-child(1) {
  z-index: 3;
}
.background:nth-child(2) {
  z-index: 2;
}
.background:nth-child(3) {
  z-index: 1;
}

.content-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-flow: column nowrap;
  color: #fff;
  font-family: Montserrat;
  text-transform: uppercase;
  -webkit-transform: translateY(40vh);
          transform: translateY(40vh);
  will-change: transform;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  transition: all 1.7s cubic-bezier(0.22, 0.44, 0, 1);
}
.background.up-scroll {
  -webkit-transform: translate3d(0, -15vh, 0);
          transform: translate3d(0, -15vh, 0);
}
.background.up-scroll .content-wrapper {
  -webkit-transform: translateY(15vh);
          transform: translateY(15vh);
}
.background.up-scroll + .background {
  -webkit-transform: translate3d(0, 30vh, 0);
          transform: translate3d(0, 30vh, 0);
}
.background.up-scroll + .background .content-wrapper {
  -webkit-transform: translateY(30vh);
          transform: translateY(30vh);
}

.background.down-scroll {
  -webkit-transform: translate3d(0, -130vh, 0);
          transform: translate3d(0, -130vh, 0);
}
.background.down-scroll .content-wrapper {
  -webkit-transform: translateY(30vh);
          transform: translateY(40vh);
}
.background.down-scroll + .background:not(.down-scroll) {
  -webkit-transform: translate3d(0, -15vh, 0);
          transform: translate3d(0, -15vh, 0);
}
.background.down-scroll + .background:not(.down-scroll) .content-wrapper {
  -webkit-transform: translateY(15vh);
          transform: translateY(15vh);
}

@font-face { font-family: titleU; src: url('pictures/polices/ubuntu-title-fr-1.1.ttf'); }
@font-face { font-family: texteU; src: url('pictures/polices/OpenSans-SemiBold.ttf'); }

@media only screen and (max-width: 600px) {
  .container {
    display: none;
  }
  .alert {
    background-color: black;
    width: 100vw; height: 100vh;
    display: block;
  }
  .alert h2 {
    position: absolute;
    top: 50%; left: 50%;
    height: 30px; width: 70vw;
    margin-top: -15px; margin-left: -35vw;
    color: white;
    text-align: center;
  }
}
@media only screen and (min-width: 600px) {
  .triangle {
    position: absolute;
    left: 50%; top: 20%;
    margin-left: -100px; margin-top: -100px;
    width: 0;
    height: 0;
    border: 0 solid transparent;
    border-left-width: 100px;
    border-right-width: 100px;
    border-top: 156px solid rgb(107, 18, 42);
  }
  .triangle img {
    position: absolute;
    left: 50%; top: 50%;
    margin-left: -50px; margin-top: -152px;
    height: 100px; width: 100px;
  }
  .triangle h1 {
    position: absolute;
    left: 50%; top: 50%;
    height: 30px; width: 700px;
    font-family: titleU;
    font-size: 60px;
    margin-left: -350px; margin-top: -300px;
    line-height: 50px;
  }
  .triangle h3[title="DT"], .triangle h3[title="TB"] {
    position: absolute;
    height: 30px; width: 255px;
    font-family: titleU;
    top: 50%; left: 50%;
    margin-top: -95px;
  }
  .triangle h3[title="DT"] {
    margin-left: -366px;
  }
  .triangle h3[title="TB"] {
    margin-left: 100px;
  }
  .intro {
    position: absolute;
    left: 50%; top: 37%;
    width: 90vw; height: 200px;
    margin-left: -45vw; margin-top: -100px;
  }
  .intro p {
    line-height: 30px;
    font-weight: bold;
    font-family: texteU;
  }
  .Freddy, .Franck, .Jean {
    position: absolute;
    width: 33.3vw; height: 400px;
    left: 50%; top: 85%;
    margin-left: -16.65vw; margin-top: -200px;
  }
  .Freddy img, .Franck img, .Jean img {
    height: 130px;
    border-radius: 50%;
  }
  .Freddy h2, .Franck h2, .Jean h2 {
    font-size: 20px;
    font-family: titleU;
  }
  .Freddy h3, .Franck h3, .Jean h3 {
    font-size: 15px;
    font-family: titleU;
  }
  .Freddy {
    left: 20%;
  }
  .Jean {
    left: 80%;
  }
  .bar-top {
    position: absolute;
    bottom: 100px;
    width: 100vw; height: 100px;
    background-color: black;
    display: none;
  }
  .bar-top img {
    position: absolute;
    bottom: -12px; left: 38%;
    height: 40px; width: 40px;
    margin-left: -40px;
  }
  .bar-top h1 {
    position: absolute;
    top: 65%; left: 50%;
    height: 30px; width: 500px;
    margin-left: -250px; margin-top: -15px;
    font-size: 20px;
  }
  .background.down-scroll .content-wrapper .bar-top {
    display: block;
  }
  .customers h2 {
    position: absolute;
    top: 50px; left: 50%;
    width: 300px; margin-left: -150px;
  }
  .box {
    position: absolute;
    width: 90vw; height: 700px;
    left: 50%; top: 50%;
    margin-left: -45vw; margin-top: -350px;
  }
  .box a {
    cursor: pointer;
  }
  .box p {
    position: absolute;
    width: 70vw; height: 30px;
    left: 50%; top: 30%;
    margin-left: -35vw; margin-top: -15px;
  }
  .box .box00 .content ul {
    position: absolute;
    top: 10%; left: 50%;
    width: 50vw;
    margin-left: -25vw;
    padding-left: 0;
  }
  .box .box00 .content ul li {
    list-style: none;
    line-height: 40px;
    -webkit-animation: blink 3s infinite;
    animation: blink 3s infinite;
  }
  .leftArrow {
    position: absolute;
    left: 0; top: 50%;
    height: 50px; width: 50px;
    margin-top: -25px;
  }
  .rightArrow {
    position: absolute;
    right: 0; top: 50%;
    height: 50px; width: 50px;
    margin-top: -25px;
    transform: rotate(180deg);
  }


  .content-rect {
    position: absolute;
    width: 90vw; height: 745px;
    left: 50%; top: 47%;
    margin-left: -45vw; margin-top: -372.5px;
  }
  .card-body {
    color: black;
  }
}
@media only screen and (min-width: 1000px) {
  .intro {
    top: 40%;
  }
  .Freddy, .Franck, .Jean {
    top: 80%;
  }
  .Freddy img, .Franck img, .Jean img {
    height: 160px;
  }
  .content-rect {
    top: 52%;
  }
}
@media only screen and (min-width: 1500px) {
  .Freddy, .Franck, .Jean {
    top: 70%;
  }
  .Freddy img, .Franck img, .Jean img {
    height: 180px;
  }
  .content-rect {
    top: 60%;
  }
}
